body {
  margin: 0;
  padding: 0;
  background-color: #333; /* Light mode background color */
  color: #f8f8f8; /* Light mode text color */
  font-family: 'Open Sans', sans-serif;
}

.portfolio-item-container {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.portfolio-item-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
  margin-top: -100px;
}

.portfolio-item-container:hover img {
  transform: scale(1.1);
}

.portfolio-item-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio-item-container:hover .overlay {
  opacity: 1;
}

.portfolio-item-container .overlay h1,
.portfolio-item-container .overlay p {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10% 10px;
}


/* input[type="checkbox"] {
  display: none;
  padding: 20px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #ccc;
}

.toggle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  transition: left 0.3s ease-in-out;
}

label[for="dark-mode-toggle"] {
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#dark-mode-toggle:checked + label .toggle {
  left: calc(50% - 2px);
  background-color: #333;
} */