body {
  margin: 0;
  padding: 0;
  background-color: #fff; /* Light mode background color */
  color: #000; /* Light mode text color */
}

.bg-image {
  background-image: url('pics/pacman.png');
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 200px; /* Adjust height as needed */
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.bg-image:hover {
  transform: scale(1.1);
}

.bg-image:hover:after {
  content: "Hello World";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  padding-top: 40px;
}

.container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

input[type="checkbox"] {
  display: none;
  padding: 20px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #ccc;
}

.toggle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  transition: left 0.3s ease-in-out;
}

label[for="dark-mode-toggle"] {
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#dark-mode-toggle:checked + label .toggle {
  left: calc(50% - 2px);
  background-color: #333;
}